// css button, title, icon, elements...
img {
    max-width: 100%;
}
.booking {
    display: flex;
    flex-direction: row;
    &__btn {
        width: $wbtn;
        height: $wbtn;
        background-color: $yellow-cl;
        text-decoration: none;
        border-radius: 10px;
        @include mid(true);
        padding: 26px 16px;
        @include text(24px ,pb ,30.48px,$text-cl,uppercase)
    }
    &__des {
        @include text( 14px, pr , 20px ,$text-white-cl,normal);
        padding-left: 18px;
        padding-right: 18px;
        span {
            display: block;
        }
    }
    &.inallwork {
        flex-direction: row-reverse;
        position: absolute;
        top: 0;
        right: 0;
        .booking__btn {
            background-color: $gray-cl;
            color: $yellow-cl;

        }
        .booking__des {
            color: $text-cl;
            text-align: right;
        }
    }
    &.inrental {
        .booking__btn {
            background-color: $gray-cl;
            color: $yellow-cl;

        }
        .booking__des {
            color: $text-cl;
        }
    }
    @include xs {
        &.inallwork {
            position: initial;
            flex-direction: column-reverse;
            align-items: center;
            padding-bottom: 60px;
            .booking__des {
                text-align: center;
                padding-bottom: 10px;
            }
        }
    }
}

.textbox {
    padding: 72px 0 0 20px;
    &__box {
        width: 120px;
        height: 120px;
        background-color: $yellow-cl;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        &-text {
            @include text(11px ,pb ,20px , $text-cl, uppercase);

        }
        &-number {
            @include text(62.46px,DIN Bold,60px,$text-cl,normal);
        }
    }
    &__contain {
        display: flex;
        color: $text-white-cl;
        .textbox__text{
            flex: 1;
            &-title {
              @include text(32px, pb ,40.48px,inherit,normal);
            }
            &-des{
                @include text(12px , pb, 20px, inherit, uppercase );
                padding: 16px 0 10px 0;
                letter-spacing: 2px;
            }
            span {
                display: block;
                @include text(12px , pr, 20px, inherit, uppercase );
            }
        }
        .textbox__icon {
            @include mid(true);
            flex-direction: column;
            padding-right: 30px;
            &-text {
                @include text(12px , pb,20px, inherit ,normal);
                padding-bottom: 8px;
            }
        }

    }
    &.indetails {
        padding: initial;
        display: flex;
        .textbox__contain {
            flex: 1;
        }
        .textbox__text {
            color: $text-cl;
            padding-left: 80px;
            padding-right: 110px;
            &-des {
                padding: 30px 0 10px 0;
            }
        }
        .textbox__box {
            margin-bottom: initial;
        }
        @include xs {
            .textbox__text {
                padding-left: 40px;
                padding-right: 70px;
            }
        }
    }
    &.instudio {
        padding: initial;
        display: flex;
        .textbox__contain {
            flex: 1;
            color: $text-cl;
            .textbox__text {
                padding-left: 70px;
                padding-right: 50px;
                &-des {
                    padding: 30px 0 10px 0;
                }
            }
        }
        .textbox__box {
            margin-bottom: initial;
        }
    }
}