.allworkpage {
    .objects {
        .container {
            .objects__foot-hasinallwork {
                height: $wbtn;
                position: relative;
            }
        }
    }
    @include xs {
        .objects {
            .container {
                .objects__foot-hasinallwork {
                    position: initial;
                    height: initial;
                    display: flex;
                    flex-direction: column-reverse;
                }
                .objects__foot {
                    height: 100%;
                    position: initial;
                }
            }
        }
    }
}
