.cafepage {
    .banner {
        position: relative;
        height: 370px;
        &__img {
            height: 370px;
            position: relative;
            overflow: hidden;
            img {
                @include midimg(100%)
            }
        }
    }
    .gallery {
        background-color: #19191a;
        &__grid {
            padding-bottom: 135px;
            &-wrap {
                position: relative;
                .gallery__slider {
                    .next,
                    .previous {
                        display: none;
                    }
                    &.is-fullscreen {
                        padding: 200px 400px 0  ;
                        .flickity-viewport {
                            height: 100%;
                            .slider__item {
                                height: 100%;
                            }
                        }
                        .next,
                        .previous {
                            display: block;
                        }
                    }
                    .gallery__carousel {
                        min-height: 500px;
                        width: 100%;
                        .carousel-img {
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-template-rows: 240px 240px;
                            gap: 20px;
                            .image {
                                overflow: hidden;
                                position: relative;
                                cursor: pointer;
                                img {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    min-width: 100%;
                                    min-height: 100%;
                                    object-fit: cover;
                                    @include transform(translate(-50% ,-50%) scale(1));
                                    @include transition($t)
                                }
                                &::before {
                                    content: '';
                                    width: 100%;
                                    height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    opacity: 0;
                                    z-index: 10;
                                    @include transition($t);
                                    background-color: $black-bg-cl;
                                }
                                &.img1 {
                                    grid-area: 1/1/3/2; // row start / colum start / row end /colum end
                                }
                                &.img2 {
                                    grid-area: 1/2/2/4; // row start / colum start / row end /colum end
                                }
                                &.img8 {
                                    grid-area: 1/1/3/2;
                                }
                                &.img9 {
                                    grid-area: 1/2/3/3;
                                }
                                &.img12 {
                                    grid-area: 1/3/3/4;
                                }
                                &:hover {
                                    img {
                
                                        @include transform(translate(-50% ,-50%) scale(1.08));
                                        @include transition($t)
                                    }
                                    &::before {
                                        opacity: 0.5;
                                        @include transition($t)
                                    }
                                }
                            }
                        }
                    }
                }
                .cafe__buttonfull {
                    display: flex;
                    flex-direction: row-reverse;
                    position: absolute;
                    left: 10px;
                    bottom: 10px;
                    cursor: pointer;
                    &-icon {
                        width: 30px;
                        height: 30px;
                        background-color: $yellow-cl;
                        @include mid(true)
                    }
                    &-text {
                        @include text(12px , pr, 12px ,$text-white-cl,normal);
                        padding-left: 10px;
                        display: flex;
                        align-items: flex-end;
                    }
                }

            }
            .button__control {
                padding-top: 40px;
                justify-content: end;
                color: $yellow-cl;
                &-next {
                    &::after {
                        background-color: $yellow-cl;
                    }
                    .button__control-icon {
                        img {
                            width: initial;
                            height: initial;
                            @include transform(rotate(-90deg))
                        }
                    }
                }
                &-prev {
                    .button__control-icon {
                        img {
                            width: initial;
                            height: initial;
                            @include transform(rotate(90deg))
                        }
                    }
                }
            }
            @include xs {
                padding-top: 20px;
                &-wrap {
                    .gallery__slider {
                        &.is-fullscreen {
                            padding: 80px 0 0 0 ;
                        }
                        .gallery__carousel {
                            height: 740px;
                            &.carousel-img1 {
                                // height: 570px;
                            }
                            .carousel-img {
                                grid-template-rows: 170px 170px 170px 170px;
                                grid-template-columns:  1fr;    
                                gap: 20px;
                                .image {
                                    &.img1,
                                    &.img2 {
                                        grid-area : initial
                                    }
                                }
                                &.carousel-img2 {
                                    grid-template-rows: 240px 240px 240px ;
                                    grid-template-columns:  1fr;    
                                    gap: 10px;
                                    .image {
                                        &.img8 ,
                                        &.img9,
                                        &.img12 {
                                            grid-area: initial;
                                        }
                                    }
                                }
                                &.carousel-img3 {
                                    grid-template-rows: 240px 240px 240px ;
                                    grid-template-columns:  1fr 1fr;    
                                    gap: 10px;
                                }
                            }
                        }
                    }
                    .cafe__buttonfull {
                        display: none;
                    }
                }
                .button__control {
                    justify-content: center;
                }
            }
        }
    }
    .infos {
        .container {
            .info {
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-top: 50px;
                padding-bottom: 100px;
                border-bottom: 1px solid $black-cl;
                &__title {
                    @include text(14px ,pr , 22px ,$text-cl, uppercase);
                    letter-spacing: 2px;
                    padding-bottom: 20px;

                }
                &__des {
                    max-width: 440px;
                    @include text(12px , pr , 22px , $text-cl, normal);
                    letter-spacing: -0.5px;
                    text-align: center;
                }
            }
        }
    }
}
